{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar sticky-top navbar-dark bg-info text-white">
    <a class="navbar-brand" href="http://fairfieldlabs.pythonanywhere.com/test">AeroPy</a>
</nav>

  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>

  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="http://fairfieldlabs.pythonanywhere.com/">Home</a></li>
  <li class="breadcrumb-item active">BS</li>
</ol>


{% endblock %}