{% extends 'base.html' %}

{% block title %}AeroPy 2.0{% endblock %}

{% block page_content %}

<div class="jumbotron jumbotron-fluid">
<div class="container-fluid">
    <h3><font color="blue">Data to Template Testing Area</font></h3>

<!--
    <table border = 1>
         {% for key, value in table_data.iteritems() %}

            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>

         {% endfor %}
    </table>
    -->
</div>

</div>

{% endblock %}

